@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&family=Barlow:wght@400;500;600;700&display=swap'); */

.roboto {
  font-family: var(--font-roboto);
  /* Apply Roboto globally */
}

.barlow {
  font-family: var(--font-barlow)
    /* Apply Barlow for headers or other specific elements */
}

/* .swiper-wrapper{
  border:1px solid 
} */
.newspaper-slider .swiper-wrapper {
  padding-bottom: 40px !important;
}

.newspaper-slider .swiper-pagination {
  bottom: 0 !important;
}

.newspaper-slider .swiper-pagination-bullet {
  background-color: #7AC19F !important;
}

.newspaper-slider .swiper-pagination-bullet-active {
  width: 40px !important;
  height: 8px !important;
  border-radius: 32px !important;
  background-color: #187E7D !important;
}

/* .customer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/customers/arrow.svg');
  background-repeat: no-repeat;
} */
/* Inside your global CSS file (e.g., styles/globals.css or styles.css) */
.transparent-scrollbar::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make scrollbar thumb transparent */
}

.transparent-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Make scrollbar track transparent */
}


input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: 3px solid #00796b; /* Outer circle color (teal) */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #00796b; /* Inner circle fill color (teal) */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ami-probashi-arrow::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top:-11px;
  left: 30px;
  transform:rotate(45deg);
  border-left:1px;
  border-top:1px;
  border-style: solid;
  border-color: #187E7D;
  border-top-left-radius: 5px;
  
}

.we-are-card-bg{
  background: linear-gradient(60.08deg, #7AC19F 18.01%, #187E7D 84.25%);
}